* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Georgia', 'Tahoma','Times New Roman', sans-serif;
    background-color: rgb(250, 250, 250);
}

body {
    width: 1024px;
    margin: 16px auto;
}

/* FIRST PAGE STYLE */
.first-title {
    text-align: center;
    font-size: 38px;
    margin-top: 36px;
    margin-bottom: 36px;;
}

.second-title {
    text-align: center;
    margin-bottom: 36px;
}

a {
    color: rgb(22, 21, 21);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

a:hover {
    color: #008000;
    font-weight: 700;
    text-decoration: underline;
}

li {
    margin-bottom: 18px;
}

