* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family:  'Georgia', 'Tahoma','Times New Roman', sans-serif;
    background-color: rgb(250, 250, 250);
}

body {
    width: 1024px;
    margin: 16px auto;
}

/* FIRST PAGE STYLE */
h1 {
    text-align: center;
    font-size: 38px;
    margin-top: 36px;
}

h2{
    text-align: center;
    font-size: 28px;
}

a {
    color: rgb(22, 21, 21);
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: #008000;
    font-weight: 700;
    text-decoration: underline;
}

li {
    margin-bottom: 18px;
    /* font-size: 20px; */
}

h1,
h2,
.img-box,
.description,
.ingredients,
.steps {
    margin-bottom: 36px;
}

/* STYLE DE LA PAGE DE RIZ SAUTE */
.img-box {
    width: 1024px;
    height: 300px;
    background-color: yellow;
    overflow: hidden;
}
.img-box img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

p {
    margin-bottom: 12px;
}

